<tr>
  <th scope="row"><img width="50" height="50" src="https://www.mhsc-store.com/4268-large_default/t-shirt-mhsc-logo-junior.jpg"></th>
  <td>Black Skull T-shirt</td>
  <td>Clothing, Men, T-shirts</td>
  <td>135.00€</td>
  <td class="w-30">
    <div class="input-group">
      <input class="col-md-3 mr-2 input-price" value="1">
      <add-to-cart-btn label="Add to cart"></add-to-cart-btn>
      <div class="form-check">
        <input type="checkbox" class="form-check-input mt-2">
      </div>
    </div>
  </td>
</tr>