#label-filter {
    line-height: 37px;
    margin-right: 10px;
}

.sidebar-filter {
    border-bottom: 1px solid #c5c5c5;
    padding-bottom: 15px;
}

.sidebar-filter span {
    font-weight: bold;
}

.item-filter {
    margin-bottom: 9px;
}

.items-filter-container {
    padding-top: 20px;
}

.mt-65 {
    margin-top: 65px
}