<div>
    <table class="table">
        <thead>
        <tr>
            <th>IMAGE</th>
            <th>NAME</th>
            <th>CATEGORIES</th>
            <th class="mr-55">PRICE</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <product v-for="(product, key) in ProductCollectionPagination"
                :product="product"
                :key="key"
                @addToCartClicked="addToCart(product)"
            ></product>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
    <pagination-item
            :product-collection="ProductCollection"
            :page-size="PageSize"
            :page-number="PageNumber"
            v-on="$listeners"
    ></pagination-item>
    </div>
</div>
