<div class="row">
    <div class="input-group col-md-7">
        <span id="label-filter">{{label}}</span>
        <select-filter filterName="Categories" :options="getCategories" @change="categorySelected"/>&nbsp;
        <select-filter filterName="Color" :options="Object.keys(getColors)" @change="colorSelected"/>&nbsp;
        <select-filter filterName="Size" :options="getSizes" @change="sizeSelected"/>
        <icon-label-btn font-awesome-icon="fa fa-refresh" @click="reset"> Reset</icon-label-btn>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <search-input @onSearchInput="search($event)">Search</search-input>
    </div>
</div>
