<div class="row">
    <div class="input-group col-md-7">
        <span id="label-filter">{{label}}</span>
        <select-filter filterName="Categories" :options="optionss"></select-filter>&nbsp;
        <select-filter filterName="Color" :options="optionss"></select-filter>&nbsp;
        <select-filter filterName="Size" :options="optionss"></select-filter>
        <icon-label-btn font-awesome-icon="fa fa-refresh"> Reset</icon-label-btn>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <search-input>Search</search-input>
    </div>
</div>
