.button {
  background-color: #1e2750;
  border: none;
  color: white;
  font-weight: bold;
  padding: 9px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  float: right;
}